<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container-fluid py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-4">

            </div>
            <div class="col-8">
                <h3>Thêm mới giao dịch <span><a href="#"><i class="fa-solid fa-plus"></i></a></span> </h3>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <h1>Admin</h1>
                <ul class="list-group pt-3">
                    <a href="#"><li class="list-group-item">Thông tin khách hàng</li></a>
                    <a href="#"><li class="list-group-item">Hóa đơn</li></a>
                </ul>
            </div>  
            <div class="col-9 mt-5">
                <table class="table align-middle mb-0 bg-white">
                    <thead class="bg-light">
                        <tr>
                        <th>Khách Hàng</th>
                        <th>Vật Phẩm</th>
                        <th>Loại Giao Dịch</th>
                        <th>Ngày Giao Dịch</th>
                        <th>Số Tiền</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>
                            <div class="ms-3">
                                <p class="fw-bold mb-1">John Doe</p>
                                <p class="text-muted mb-0">john.doe@gmail.com</p>
                            </div>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">Software engineer</p>
                            <p class="text-muted mb-0">IT department</p>
                        </td>
                        <td>
                            <p>mua</p>
                        </td>
                        <td>Senior</td>
                        <td>20$ </td>
                        <td>
                            <button><i class="btn-delete fa-solid fa-trash-can btn btn-danger"></i></button>
                            <button><i class="btn-edit fa-solid fa-edit  btn btn-primary"></i></button>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>